@import 'misc';
@import 'form';
@import 'about';
@import 'fonts';
@import 'sidebar';
@import 'scrollbar';
@import 'background';
@import 'sweetalertDark';
@import 'breakpoint';
@import 'assistantApps';

:root {
  --bg-color: #151718;
  --bg-hover-color: #0b0b0c;
  --line-gray-color: #8c9297;
  --text-color: #ecedee;

  // to be overridden by the app at runtime
  --primary-colour: #00ffff;
  --primary-colour-darken-25: darken(#00ffff, 25%);
  --link-color: #00ffff;
  --text-selection-color: #385e8a;

  --assistantapps-font-weight: 100;
  --assistantapps-font-family: 'Quicksand', sans-serif;
}

html body {
  font-family: var(--assistantapps-font-family);

  ::selection {
    background: var(--text-selection-color);
    color: white;
  }

  ::-moz-selection {
    background: var(--text-selection-color);
    color: white;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }

  a {
    color: var(--link-color);
  }
}

.display-inline-block {
  display: inline-block;
}

main.main {
  padding-inline: 3em;
}

.opacity-10 {
  opacity: 10%;
}

.hope-accordion {
  .hope-collapse {
    animation-timing-function: linear;
    animation-duration: 250ms;
    animation-name: fade-in-anim;
    animation-iteration-count: 1;
    animation-play-state: running;
  }
}

@keyframes fade-in-anim {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}
