@import 'misc';
@import 'form';
@import 'about';
@import 'fonts';
@import 'sidebar';
@import 'scrollbar';
@import 'sweetalertDark';
@import 'breakpoint';

:root {
  --bg-color: #151718;
  --bg-hover-color: #0b0b0c;
  --line-gray-color: #8c9297;
  --text-color: #ecedee;

  // to be overridden by the app at runtime
  --primary-colour: #00ffff;
  --primary-colour-darken-25: darken(#00ffff, 25%);
  --link-color: #00ffff;
  --text-selection-color: #385e8a;
}

html body {
  font-family: 'Quicksand', sans-serif;

  ::selection {
    background: var(--text-selection-color);
    color: white;
  }

  ::-moz-selection {
    background: var(--text-selection-color);
    color: white;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }

  a {
    color: var(--link-color);
  }
}

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-drag,
.no-drag > .hope-avatar__image {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.max-lines-1 {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.hover-reveal-child {
  &:hover {
    .reveal {
      opacity: 1;
    }
  }

  .reveal {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.display-inline-block {
  display: inline-block;
}

main.main {
  padding-inline: 3em;
}
